/*
	common.css - the primary styles
	
	Author: Laza
*/


/* 
   HTML5 ✰ Boilerplate 
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/*html { overflow-y: scroll; }*/
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

  
html {
	height:100%;
}
body {
	font-family:Arial,Helvetica,sans-serif;
	background-color:#111111;
	color:#bbbbbb;
	height:100%;
}
select, input, textarea {  
	color: #444;
}
a, a:active, a:visited {
	color:#dddddd;
	text-decoration:none;
}
a:hover {
	color:#ffffff;
}
a img {	border:none; text-decoration:none; }
h1,h2,h3 { font-weight: normal; }
h4,h5,h6 { font-weight: bold; }
h1 { font-size:300%; }
h2 { font-size:200%; }
h3 { font-size:140%; }
h4 { font-size:115%; }
h5 { font-size:100%; }

.addtop { margin-top:10px; }

/******************************************* Hint */

.hint {
	position:absolute;
	left:0;
	top:0;
	padding:6px 8px;
	color:#000;
	max-width:240px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-color:rgba(255,255,255,0.8);
	z-index:99999;
	-moz-box-shadow:1px 3px 8px rgba(0,0,0,0.4); -webkit-box-shadow:1px 3px 8px rgba(0,0,0,0.4); box-shadow:1px 3px 8px rgba(0,0,0,0.4);
}
.no-rgba .hint {
	background-color:transparent;
	background-image:url(w80.png);
}
.hint a {
	color:#000;
}
.hint span.nr {
	font-weight:bold;
	font-style:normal;
	padding:1px 3px;
	color:#ddd;
	background-color:#000;
	-moz-border-radius:3px;
	border-radius:3px;
}
.hint .breadcrumb a {
	display:block;
	padding:3px 5px;
}
.hint .breadcrumb a:hover {
	background-color:#000;
	color:#fff;
}
.hint small b {
	background-color:#ddd;
	padding:1px 2px;
	-moz-border-radius:3px;
	border-radius:3px;
}

/******************************************* Modal window */

#modal {
	display:none;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:99998;
	background-color:rgba(0,0,0,0.6);
}
#modal .panel {
	position:relative;
	margin:120px auto 0 auto;
	width:auto;
	padding:20px 15px 15px 15px;
	overflow:hidden;
	color:#444;
	background-color:rgba(255,255,255,0.95);
	border:4px solid #fff;
	text-align:center;
	-moz-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:inset 0px 4px 10px rgba(0,0,0,0.4); -webkit-box-shadow:inset 0px 4px 10px rgba(0,0,0,0.4); box-shadow:inset 0px 4px 10px rgba(0,0,0,0.4);
}
.no-rgba #modal .panel {
	background-color:transparent;
	background-image:url(w90.png);
}
#modal .panel a {
	color: #248;
}
#modal .panel a:hover {
	color: #36d;
}
#modal .panel em {
	font-style:italic;
}
#modal .panel a.close {
	position:absolute;
	width:20px;
	height:20px;
	right:0;
	top:0;
	z-index:999;
	display:block;
	background-image:url(pg.png);
	background-position:0 0;
	background-repeat:no-repeat;
	background-color:#fff;
	-moz-border-radius:0 0 0 4px;
	border-radius:0 0 0 4px;
	-moz-box-shadow:1px 3px 8px rgba(0,0,0,0.4); -webkit-box-shadow:1px 3px 8px rgba(0,0,0,0.4); box-shadow:1px 3px 8px rgba(0,0,0,0.4);
}
#modal .panel a.close:hover {
	background-position:-20px 0;
}
#modal .panel h1, #modal .panel h2, #modal .panel h3, #modal .panel h4 {
	margin-bottom:0.5em;
}
#modal .buttons {
	display:block;
	clear:both;
	margin-top:10px;
	text-align:center;
	line-height:40px;
}
#modal .buttons a {
	padding:0 10px;
	margin:5px 2px;
	display:inline-block;
	color:#bbb;
	line-height:2em;
	white-space:nowrap;
	-moz-border-radius:4px;
	border-radius:4px;
	border:2px solid #333;
	background-color:#555;
	background-image:-moz-linear-gradient(top, rgba(102,102,102,1), rgba(15,15,15,1) );
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(102,102,102,1)), color-stop(1, rgba(15,15,15,1)));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF666666,EndColorStr=#FF0F0F0F);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF666666,EndColorStr=#FF0F0F0F)";
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.4); -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.4); box-shadow:0px 1px 2px rgba(0,0,0,0.4);
}

#modal .buttons a.active,
#modal .buttons a:hover {
	color:#fff;
	border-color:#000;
}

/******************************************* Help window */

ul.help { 
	clear:both;
	margin:20px 0;
	min-height:120px;
	background-repeat:no-repeat;
	background-position:left top;
	padding:0 0 0 360px;
	list-style:none;
}
ul.help.index {
	background-image:url(helpsplash.png);
}
ul.help.gall { 
	background-image:url(helpgallery.png);
}
ul.help:after { 
	clear:both;
}
ul.help li {
	text-align:left;
	text-indent:-30px;
	line-height:2em;
}
ul.help li em {
	-moz-border-radius:4px;
	border-radius:4px;
	padding:2px 5px;
	margin-left:10px;
	font-style:normal;
	font-size:85%;
	white-space:nowrap;
	border:1px solid #999;	
}
ul.help li b {
	-moz-border-radius:4px;
	border-radius:4px;
	padding:2px 5px;
	font-style:bold;
	white-space:nowrap;
	background-color:#fff;
}
ul.help li span {
	-moz-border-radius:4px;
	border-radius:4px;
	padding:2px 5px;
	margin-right:10px;
	background-color:#333;
	color:#ddd;
	font-weight:bold;
}

/******************************************* Scroller controls */

.scrup,
.scrdn {
	position:absolute;
	right:0;
	width:20px;
	height:20px;
	line-height:20px;
	background-repeat:no-repeat;
	background-image:url(pg.png);
}
.scrup {
	top:0;
	z-index:990;
	background-position:0 -20px;
}
.scrdn {
	bottom:0;
	z-index:991;
	background-position:0 -40px;
}
.scrup:hover {
	background-position:-20px -20px;
}
.scrdn:hover {
	background-position:-20px -40px;
}
.scrbar {
	position:absolute;
	right:3px;
	width:14px;
	top:20px;
	bottom:20px;
	-moz-border-radius:7px;
	border-radius:7px;
	background-color:rgba(255,255,255,0.3);
	-moz-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.4); -webkit-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.4); box-shadow:inset 0px 1px 2px rgba(0,0,0,0.4);
}
.no-rgba .scrbar {
	background-color:transparent;
	background-image:url(w40.png);
}
.scrbar div {
	position:absolute;
	top:2px;
	left:2px;
	right:2px;
	height:5px;
	-moz-border-radius:7px;
	border-radius:7px;
	background-color:#111111;
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.4); -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.4); box-shadow:0px 1px 2px rgba(0,0,0,0.4);
}
.scrbar div img {
	width:100%;
	height:100%;
}

/******************************************* Controls */

.controls a,
a.control {
	background-image:url(controls.png);
	background-repeat:no-repeat;
	background-position:0 0;
}

.controls a:hover,
a.control:hover {
	background-position:-70px inherit;
}

/******************************************* Index page */

#widgetbg {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:25px;
	z-index:1;
}
#indexbg {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:25px;
	z-index:0;
}
#index {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:25px;
	overflow:auto;
	z-index:10;
	-webkit-text-size-adjust:120%;
	zoom:1;
}
#index .container {
	position:relative;
	width:1000px;
	height:100%;
	max-height:100%;
	zoom:1;
	margin:0 auto;
}
#index header {
	position:absolute;
	top:0;
	left:165px;
	width:650px;
	height:433px;
	max-height:100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#000;
	-moz-border-radius:0 0 12px 12px;
	border-radius:0 0 12px 12px;
	-moz-box-shadow:1px 3px 8px rgba(0,0,0,0.6); -webkit-box-shadow:1px 3px 8px rgba(0,0,0,0.6); box-shadow:1px 3px 8px rgba(0,0,0,0.6);
}
.ie7 #index header {
	max-height:none;
}
#index header .title {
	padding:20px;
	color:#fff;
	background-color:transparent;
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0)));
	background-image:-webkit-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0));
	background-image:-moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0));
	background-image:-ms-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0));
	background-image:linear-gradient(top, rgba(0,0,0,0.6), rgba(0,0,0,0));
	filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#99000000,EndColorStr=#00000000);
	color:#fff;
}
#index header .title .about,
#index header .title .parent {
	display:inline;
	width:40px;
	height:40px;
}
#index header .title .about {
	float:right;
	margin:0 0 10px 20px;
}
#index header .title .parent {
	float:left;
	margin:0 20px 10px 0;
}
#index header .title .about a,
#index header .title .parent a {
	line-height:40px;
	display:block;
	-moz-border-radius:6px;
	border-radius:6px;
	background-color:rgba(0,0,0,0.2);
}
#index header .title .about a {
	background-position:-275px -15px;
}
#index header .title .parent a {
	background-position:-5px -15px;
}
#index header .title .about a:hover,
#index header .title .parent a:hover {
	background-color:rgba(0,0,0,0.4);
}
#index header .title .about a:hover {
	background-position:-275px -85px;
}
#index header .title .parent a:hover {
	background-position:-5px -85px;
}
#index header .title hgroup {
	overflow:hidden;
}
#index header .title h1 {
	font-size:300%;
	font-weight:normal;
	text-shadow:2px 3px 6px rgba(0,0,0,0.4);
}
#index header .title h6 {
	display:block;
	font-size:120%;
	font-weight:normal;
	text-shadow:1px 2px 4px rgba(0,0,0,0.4);
}
#index header:hover .title h6 {
	display:block;
}
#index header .starttxt {
	position:absolute;
	display:none;
	bottom:20px;
	right:120px;
	height:90px;
	line-height:90px;
	font-size:240%;
	color:#fff;
	text-shadow:2px 3px 6px rgba(0,0,0,0.4);
}
#index header .startbtn {
	position:absolute;
	bottom:20px;
	right:20px;
	width:90px;
	height:90px;
	background-image:url(start.png);
	background-repeat:no-repeat;
	background-position:center 0;
	cursor:pointer;
	-moz-border-radius:6px;
	border-radius:6px;
	background-color:rgba(0,0,0,0.5);
}
/*.no-rgba #index header .startbtn {
	background-color:transparent;
	background-image:url(k20.png);
}*/
#index header .startbtn:hover {
	background-position:center -90px;
	background-color:rgba(0,0,0,0.4);
}
/*.no-rgba #index header .startbtn:hover {
	background-color:transparent;
	background-image:url(k40.png);
}*/
.share {
	float:right;
	display:inline;
	margin:10px 0 10px 6px;
	height:24px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color:rgba(0,0,0,0.4);
}
.no-rgba .share {
	background-color:transparent;
	background-image:url(k40.png);
}
.share:hover {
	background-color:rgba(0,0,0,0.6);
}
.no-rgba .share:hover {
	background-color:transparent;
	background-image:url(k60.png);
}
.share a {
	display:block;
	background-repeat:no-repeat;
	line-height:24px;	
	background-position:0 0;
	color:#ccc;
}
.share a {
	padding:0 6px 0 22px;
	background-image:url(share.png);
}
.share a:hover {
	color:#fff;
}
.shares a {
	display:block;
	font-size:85%;
	color:#000;
	padding:2px 4px;
	line-height:20px;
	background-image:url(share.png);
	background-repeat:no-repeat;
}
.shares a:hover {
	color:#fff;
	background-color:#000;
}
.shares .likebtn {
	display:block;
	width:110px;
	height:20px;
	margin-bottom:4px;
	background-color:rgba(255,255,255,0.6);
	overflow:hidden;
}
.shares a.facebook,
.shares a.twitter,
.shares a.digg,
.shares a.delicious,
.shares a.myspace,
.shares a.stumbleupon,
.shares a.email,
.shares a.reddit,
.shares a.tumblr {
	background-image:url(share.png);
	padding-left:28px;
}
.shares a.facebook { background-position:0 -24px; }
.shares a.twitter { background-position:0 -48px; }
.shares a.digg { background-position:0 -72px; }
.shares a.myspace { background-position:0 -96px; }
.shares a.delicious { background-position:0 -120px; }
.shares a.stumbleupon { background-position:0 -144px; }
.shares a.email { background-position:0 -168px; }
.shares a.reddit { background-position:0 -192px; }
.shares a.tumblr { background-position:0 -216px; }

#index .items {
	position:absolute;
	top:453px;
	left:20px;
	bottom:0;
	margin:0;
	width:940px;
	min-height:200px;
	overflow-x:hidden;
	overflow-y:auto;
}
#index .items .cont {
	display:block;
	width:950px;
	padding-right:5px;
}
#index footer {
	clear:both;
	display:block;
	padding:1em 0;
	text-align:center;
	font-size:75%;
}
#index footer span {
	padding:0.5em 1em;
	-moz-border-radius:6px;
	border-radius:6px;
}
#index .footer {
	text-align:center;
}
#index .footer em {
	font-style:italic;
}

/******************************************* Folders */

.folders {
	display:block;
	position:relative;
}
.folders ul {
	margin:0 -10px 0 0;
}
.folders ul li {
	float:left;
	display:inline;
	margin:0 10px 10px 0;
	padding:10px;
	width:300px;
	min-height:100px;
	color:#bbbbbb;
	background-color:rgba(255,255,255,0.1);
	-moz-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.4); -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.4); box-shadow:0px 1px 2px rgba(0,0,0,0.4);
}
.no-rgba .folders ul li {
	background-color:transparent;
	background-image:url(w10.png);
}
.folders ul li:hover {
	background-color:rgba(255,255,255,0.2);
}
.no-rgba .folders ul li:hover {
	background-color:transparent;
	background-image:url(w20.png);
}
.folders a {
	color:#dddddd;
}
.folders a:hover {
	color:#ffffff;
	outline:none;
}
.folders aside {
	position:relative;

	float:left;
	display:inline;
	margin-right:10px;
	text-align:center;
	width:140px;
	overflow:hidden;
}
.folders aside img {
	max-width:140px;
	max-height:100px;
	vertical-align:top;
	border:none;
}
.folders .data {

	min-width:70px;
	overflow:hidden;
}
.folders h4 {
	margin-bottom:10px;
}
.folders p {
	margin-top:10px;
}
.folders p.info {
	font-size:85%;
}


/******************************************* Thumbnail grid on index page */

.thumbs {
	position:relative;
	display:block;
}
.thumbs ul {
	margin-left:5px;
}
.thumbs ul li {
	float:left;
	display:inline;
	position:relative;
	width:148px;
	height:108px;
	overflow:hidden;
	margin:1px;
	text-align:center;
	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.4); -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.4); box-shadow:0px 1px 2px rgba(0,0,0,0.4);
}
.thumbs a {
	display:table-cell;
	vertical-align:middle;
	position:relative;
	width:140px;
	height:100px;
	padding:4px;
	overflow:hidden;
	text-align:center;
	background-color:rgba(255,255,255,0.1);
}
.no-rgba .thumbs a {
	background-color:transparent;
	background-image:url(w10.png);
}
.thumbs a:hover, 
.thumbs a:focus {
	background-color:rgba(255,255,255,0.2);
	outline:none;
}
.no-rgba .thumbs a:hover, 
.no-rgba .thumbs a:focus {
	background-color:transparent;
	background-image:url(w20.png);
}
.thumbs a.active {
	background-color:rgba(255,255,255,0.4);
}
.no-rgba .thumbs li a.active {
	background-color:transparent;
	background-image:url(w40.png);
}
.thumbs a img {
	vertical-align:middle;
	max-width:140px;
	max-height:100px;
	border:0;
	outline:none;
}
.thumbs a b {
	vertical-align:middle;
	display:inline-block;
	height:100%;
	font-size:1px;
}
.newlabel {
	position:absolute; 
	right:4px;
	top:4px;
	padding:0 4px 2px 4px;
	background-color:#000;
	background-color:rgba(32,32,32,0.6);
	color:#ccc;
	font-size:60%;
}

/******************************************* Images page */

.gallery {
	position:absolute;
	display:none;
	left:0;
	right:0;
	top:0;
	bottom:25px;
	z-index:10000;
	background-color:#111111;
	-webkit-text-size-adjust:120%;
}
.gallery a {
	color:#fff;
	text-decoration:none;
	outline:none;
}
.gallery .navigation {
	position:absolute;
	left:0;
	right:0;
	margin:0;
	z-index:999;
}
.gallery .navigation nav {
	display:none;
	margin:40px auto 0 auto;
	height:70px;
	-moz-border-radius:12px;
	border-radius:12px;
	background-color:rgba(0,0,0,0.8);
	z-index:999;
	-moz-box-shadow:1px 3px 8px rgba(0,0,0,0.6); -webkit-box-shadow:1px 3px 8px rgba(0,0,0,0.6); box-shadow:1px 3px 8px rgba(0,0,0,0.6);
}
.no-rgba .gallery .navigation nav {
	background-color:transparent;
	background-image:url(k80.png);
}
.gallery .navigation nav a {
	display:inline-block;
	width:50px;
	height:70px;
	line-height:70px;
	background-image:url(controls.png);	
	background-repeat:no-repeat;
	background-position:-50px 0;
}
.gallery .navigation nav a.prev {
	background-position:-50px 0;
	width:70px;
}
.gallery .navigation nav a.prev:hover {
	background-position:-50px -70px;
}	
.gallery .navigation nav a.up {
	background-position:-120px 0;
}
.gallery .navigation nav a.up:hover {
	background-position:-120px -70px;
}
.gallery .navigation nav a.resize {
	background-position:-170px 0;
}
.gallery .navigation nav a.resize:hover {
	background-position:-170px -70px;
}
.gallery .navigation nav a.noresize {
	display:none;
	background-position:-220px 0;
}
.gallery .navigation nav a.noresize:hover {
	background-position:-220px -70px;
}
.gallery .navigation nav a.showinfo {
	background-position:-270px 0;
}
.gallery .navigation nav a.showinfo:hover {
	background-position:-270px -70px;
}
.gallery .navigation nav a.hideinfo {
	display:none;
	background-position:-320px 0;
}
.gallery .navigation nav a.hideinfo:hover {
	background-position:-320px -70px;
}
.gallery .navigation nav a.showthumbs {
	background-position:-370px 0;
}
.gallery .navigation nav a.showthumbs:hover {
	background-position:-370px -70px;
}
.gallery .navigation nav a.hidethumbs {
	display:none;
	background-position:-420px 0;
}
.gallery .navigation nav a.hidethumbs:hover {
	background-position:-420px -70px;
}
.gallery .navigation nav a.play {
	width:70px;
	background-position:-470px 0;
}
.gallery .navigation nav a.play:hover {
	background-position:-470px -70px;
}
.gallery .navigation nav a.pause {
	display:none;
	width:70px;
	background-position:-540px 0;
}
.gallery .navigation nav a.pause:hover {
	background-position:-540px -70px;
}
.gallery .navigation nav a.next {
	width:70px;
	background-position:-610px 0;
}
.gallery .navigation nav a.next:hover {
	background-position:-610px -70px;
}

.gallery .scrollbox {
	position:relative;
	display:block;
	width:860px;
	height:120px;
	max-width:80%;
	margin:0 auto;
	-moz-border-radius:0 0 12px 12px;
	border-radius:0 0 12px 12px;
	overflow:hidden;
	background-color:rgba(0,0,0,0.6);
	z-index:998;
	-moz-box-shadow:1px 3px 8px rgba(0,0,0,0.6); -webkit-box-shadow:1px 3px 8px rgba(0,0,0,0.6); box-shadow:1px 3px 8px rgba(0,0,0,0.6);
}
.rgba.touch .gallery .scrollbox,
.rgba .gallery .scrollbox:hover {
	background-color:rgba(0,0,0,0.8);
}
.no-rgba .gallery .scrollbox {
	background-color:transparent;
	background-image:url(k60.png);
}
.no-rgba .gallery .scrollbox:hover {
	background-color:transparent;
	background-image:url(k80.png);
}
.gallery .scrollbox .wrap {
	position:relative;
	top:5px;
	margin:0 40px;
	height:110px;
	overflow:hidden;
}
.gallery .scrollbox .cont ul {
	position:absolute;
	left:0;
	top:0;
	height:110px;
}
.gallery .scrollbox .cont li {
	width:148px;
	height:108px;
}
.gallery .scrollbox .cont {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:auto;
	white-space:nowrap;
}
.gallery .scrollbox .cont {
	margin:0;
	list-style:none;
}
.gallery .scrollbox .cont li {
	float:left;
	display:inline;
	position:relative;
	width:148px;
	height:108px;
	overflow:hidden;
	margin:1px;
	text-align:center;
}
.gallery .scrollbox .cont a {
	display:table-cell;
	vertical-align:middle;
	position:relative;
	padding:4px;
	margin-right:2px;
	width:140px;
	height:100px;
	text-align:center;
}
.gallery .scrollbox .cont a img {
	max-width:140px;
	max-height:100px;
	vertical-align:middle;
}
.gallery .scrollbox .cont a:hover, 
.gallery .scrollbox .cont a:focus {
	background-color:rgba(255,255,255,0.2);
	outline:none;
}
.no-rgba .gallery .scrollbox .cont a:hover, 
.no-rgba .gallery .scrollbox .cont a:focus {
	background-image:url(w20.png);
}
.gallery .scrollbox .cont a.active {
	background-color:rgba(255,255,255,0.4);
}
.no-rgba .gallery .scrollbox .cont a.active {
	background-color:transparent;
	background-image:url(w40.png);
}

.gallery .scrollbox .scleft,
.gallery .scrollbox .scright {
	position:absolute;
	top:10px;
	width:24px;
	height:100px;
	background-image:url(scroll.png);
	background-repeat:no-repeat;
	background-position:left center;
}	

.gallery .scrollbox .scleft {
	left:10px;
	background-position:0 center;
}
.gallery .scrollbox .scright {
	right:10px;
	background-position:-48px center;
}
.gallery .scrollbox .scleft:hover {
	background-position:-24px center;
}
.gallery .scrollbox .scright:hover {
	background-position:-72px center;
}

.gallery .img {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
}
.gallery .img .main {
	position:relative;
	-ms-interpolation-mode:bicubic;
	border:8px solid #eeeeee;
	-moz-box-shadow:3px 6px 32px rgba(0,0,0,0.6); -webkit-box-shadow:3px 6px 32px rgba(0,0,0,0.6); box-shadow:3px 6px 32px rgba(0,0,0,0.6);
}
.gallery .img .other {
	display:inline-block;
	width:280px;
	-moz-border-radius:12px;
	border-radius:12px;
	text-align:center;
	background-color:rgba(240,240,240,0.85);
	color:#555;
}
.no-rgba .gallery .img .other {
	background-color:transparent;
	background-image:url(w80.png);
}
.gallery .img .other a {
	display:block;
	margin:15px 15px 0 15px;
	padding:20px 0;
	border-bottom:1px solid #ccc;
}
.gallery .img .other p {
	margin:10px 15px 15px 15px;
	overflow:hidden;
}
.gallery .wait {
	display:none;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:25px;
	background-image:url(wait.gif);
	background-position:center center;
	background-repeat:no-repeat;
	z-index:3;
}
.gallery .bottom {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	z-index:99;
}
.gallery .bottom .cont {
	position:relative;
	width:690px;
	max-width:80%;
	margin:0 auto;
	padding:5px 15px 10px 15px;
	text-align:left;
	color:#fff;
	-moz-border-radius:12px 12px 0 0;
	border-radius:12px 12px 0 0;
	z-index:997;
	color:#bbbbbb;
	background-color:rgba(0,0,0,0.4);
	-moz-box-shadow:1px 3px 8px rgba(0,0,0,0.6); -webkit-box-shadow:1px 3px 8px rgba(0,0,0,0.6); box-shadow:1px 3px 8px rgba(0,0,0,0.6);
}
.no-rgba .gallery .bottom .cont {
	background-color:transparent;
	background-image:url(k40.png);
}
.rgba.touch .gallery .bottom .cont,
.gallery .bottom .cont:hover {
	background-color:rgba(0,0,0,0.9);
}
.no-rgba .gallery .bottom .cont:hover {
	background-image:url(k80.png);
}
.gallery .bottom .cont:before, 
.gallery .bottom .cont:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.gallery .bottom .cont:after { clear:both; }
.gallery .bottom h2 {
	margin-top:10px;
	font-size:140%;
}
.gallery .bottom .comment {
	margin-top:10px;
}
.gallery .bottom .comment a {
	color:#dddddd;
}
.gallery .bottom .comment a:hover {
	color:#ffffff;
}
.gallery .bottom nav {
	float:right;
	display:inline;
	margin:5px 0 5px 15px;
	height:28px;
	line-height:24px;
	font-size:85%;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #333;
	color:#bbb;
	background-color:#333;
	z-index:999;
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(102,102,102,1)), to(rgba(15,15,15,1)));
	background-image:-webkit-linear-gradient(top, rgba(102,102,102,1), rgba(15,15,15,1));
	background-image:-moz-linear-gradient(top, rgba(102,102,102,1), rgba(15,15,15,1));
	background-image:-ms-linear-gradient(top, rgba(102,102,102,1), rgba(15,15,15,1));
	filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FF666666,EndColorStr=#FF0F0F0F);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
 	-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.6); -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.6); box-shadow:0px 1px 2px rgba(0,0,0,0.6);
}
.gallery .bottom nav a {
	display:inline-block;
	width:32px;
	height:28px;
	line-height:28px;
	padding:0;
	white-space:nowrap;
	background-image:url(buttons.png);
	background-position:center 0;
	background-repeat:no-repeat;
	border-left:1px solid #000;
	cursor:default;
}
.gallery .bottom nav a:first-child {
	border-left:none;
	-moz-border-top-left-radius:3px;
	-moz-border-bottom-left-radius:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.gallery .bottom nav a:last-child {
	-moz-border-top-right-radius:3px;
	-moz-border-bottom-right-radius:3px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.gallery .bottom nav a:hover {
	color:#fff;
}
.gallery .bottom nav a.active {
	background-color:#000;
	border-left-color:#222;
}
.gallery .bottom .nr {
	float:right;
	display:inline;
	margin:5px 0 5px 15px;
	line-height:32px;
	padding:0;
	white-space:nowrap;
	-moz-border-radius:6px;
	border-radius:6px;
}
.gallery .bottom .meta .icon,
.gallery .bottom nav a.meta-icon {
	background-position:center -1px;
}
.gallery .bottom .map .icon,
.gallery .bottom nav a.map-icon {
	background-position:center -33px;
}
.gallery .bottom .shop .icon,
.gallery .bottom nav a.shop-icon {
	background-position:center -65px;
}
.gallery .bottom nav a.link-icon {
	background-position:center -97px;
}
.gallery .bottom .share .icon,
.gallery .bottom nav a.share-icon {
	background-position:center -129px;
}
.gallery .bottom .print .icon,
.gallery .bottom nav a.print-icon {
	background-position:center -161px;
}
.gallery .bottom .comment .icon,
.gallery .bottom nav a.comment-icon {
	background-position:center -193px;
}
.gallery .bottom .panel {
	clear:both;
	position:relative;
	font-size:85%;
	color:#ccc;
	margin-top:10px;
	padding-left:30px;
	color:#bbbbbb;
}
.gallery .bottom .icon {
	position:absolute;
	left:0;
	top:-6px;
	width:20px;
	height:26px;
	background-image:url(buttons.png);
	background-repeat:no-repeat;
}
.gallery .bottom .meta b {
	color:#fff;
}
.gallery .bottom .map .mapcont {
	position:relative; 
	overflow:hidden;
	width:660px;
	height:240px;
}
.gallery .bottom .shop .icon {
	top:-1px;
}
.gallery .bottom .shop form {
	float:left;
	display:inline;
	line-height:30px;
}
.gallery .bottom .shop input,
.gallery .bottom .shop select {
	vertical-align:middle;
	margin:0 10px;
	-moz-border-radius:6px;
	border-radius:6px;
	border:none;
	padding:3px 6px;
}
.gallery .bottom .shop select {
	background-color:#ddd;
	margin-left:0;
}
.gallery .bottom .shop .total,
.gallery .bottom .shop .copies {
	-moz-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.4); -webkit-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.4); box-shadow:inset 0px 1px 2px rgba(0,0,0,0.4);
}
.gallery .bottom .shop .copies {
	width:24px;
}
.gallery .bottom .shop .total {
	width:40px;
	background-color:#999;
	font-weight:bold;
	text-align:right;
	color:#fff;
}

#bgaudio {
	position:fixed;
	right:5px;
	top:5px;
	width:60px;
	height:20px;
	z-index:99999;
	-moz-box-shadow:1px 3px 8px rgba(0,0,0,0.4); -webkit-box-shadow:1px 3px 8px rgba(0,0,0,0.4); box-shadow:1px 3px 8px rgba(0,0,0,0.4);
}

b, strong {
	font-weight:bold;
}
i, em {
	font-style:italic;
}

/* 
   HTML5 ✰ Boilerplate
   media query and some more styles
*/

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


